<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmileyAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7D039191EA8513A00F6DA5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7D039301EA8513A00F6DA5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7D0393B1EA8513A00F6DA5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
